<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <nav th:replace="fragments :: navigation"></nav>

        <div class="row">
            <div class="col-md-12">
                <h2>Businesses <a class="btn btn-primary" href="/admin/business/add" role="button">Add New</a> </h2>
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Categories</th>
                        <th>Age Ranges</th>
                        <th>Best Times</th>
                        <th></th>
                    </tr>
                    <tr th:each="business : ${businesses}">
                        <td th:text="${business.name}"></td>
                        <td>
                            <ul>
                                <li th:each="cat : ${business.categories}" th:text="${cat.name}">Category</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li th:each="range : ${business.ageRanges}" th:text="${range.name}">Age Range</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li th:each="time : ${business.bestTimes}" th:text="${time.name}">Best Times</li>
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" th:href="@{'/admin/business/edit/' + ${business.id}}" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" th:href="@{'/admin/business/remove/' + ${business.id}}" role="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Categories <a class="btn btn-primary" href="/admin/categories/add" role="button">Add New</a> </h2>
                <table class="table table-condensed table-striped">
                    <tr th:each="cat : ${categories}" >
                        <td th:text="${cat.name}">Categories</td>
                        <td>
                            <a class="btn btn-default btn-xs" th:href="@{'/admin/categories/edit/' + ${cat.id}}" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" th:href="@{'/admin/categories/remove/' + ${cat.id}}" role="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Age Ranges <a class="btn btn-primary" href="/admin/age-range/add" role="button">Add New</a> </h2>
                <table class="table table-condensed table-striped">
                    <tr th:each="range : ${ageRanges}" >
                        <td th:text="${range.name}">Age Range</td>
                        <td>
                            <a class="btn btn-default btn-xs" th:href="@{'/admin/age-range/edit/' + ${range.id}}" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" th:href="@{'/admin/age-range/remove/' + ${range.id}}" role="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Best Times <a class="btn btn-primary" href="/admin/times/add" role="button">Add New</a> </h2>
                <table class="table table-condensed table-striped">
                    <tr th:each="time : ${bestTimes}" >
                        <td th:text="${time.name}">Best Times</td>
                        <td>
                            <a class="btn btn-default btn-xs" th:href="@{'/admin/times/edit/' + ${time.id}}" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" th:href="@{'/admin/times/remove/' + ${time.id}}" role="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>