<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${h1}">Add Category</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="POST" style="max-width:600px;" th:object="${business}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="categoryId">Categories</label>
        <select name="categoryId">
            <option th:each="cat : *{categories}"
                    th:text="${cat.name}"
                    th:value="${cat.id}"></option>
        </select>
        <span th:errors="*{categoryId}" class="error"></span>
    </div>
    <input type="submit" value="Add Business" />
</form>


</body>
</html>